# Generic http-echo service template
apiVersion: v1
kind: Service
metadata:
  name: http-echo
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: http-echo
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
